- cells.each_slice(2) do |cells|
  .row
    - cells.each do |cell_name, opts|
      .col-md-6
        .panel.panel-default
          .panel-heading
            %h6
              %b
                -if opts[:url]
                  =link_to(opts[:title], opts[:url])
                -else
                  =opts[:title]
          .panel-body= render_cell(opts.fetch(:cell, cell_name), :show, opts.fetch(:arguments, {}).merge(:current_user => current_user))
