.container.container-padding
  .row
    .col-md-3
    .col-md-6
      .panel.panel-warning
        .panel-heading
          No products enabled
        .panel-body
          .well.well-md.bg-danger
            No products currently enabled for this account!
    .col-md-3