.container.container-padding
  .row
    .col-md-3
    .col-md-6
      .panel.panel-warning
        .panel-heading
          No products enabled
        .panel-body
          .well.well-md.bg-danger
            = Rails.application.config.settings.fetch(:dashboard, :no_content, 'No products currently enabled for this account!').html_safe
    .col-md-3
