/* CSS modifications for the dashboard page */

$grid-gutter-width: 20px; // NOTE: this may require using the bootstrap-sass gem
@import "theme/colors";

.add-repo {
  p {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
  }
};

.widget {
  margin-top: 20px;
  .panel-heading {
    background-color: $color-primary;
    color: $color;
    border-bottom: none;
  };
  .panel-body {
    min-height: 100px;
  }
  th:first-child, td:first-child {
    padding-left: 10px;
  };
  tr {
    td:first-child {
      width: 70%;
      font-size: 125%;
      font-weight: bold;
    }
  };
  a:hover, i:hover, {
    color: $color-darkest;
    text-decoration: none;
  };
  i {
    color: black;
    font-size: 125%;
  };
}

.dashboard-action-tray {
  vertical-align: middle;
}

.dashboard-action {
  float: right;
  margin-left: 5px;
}

.Platinum {
  color: $color-platinum !important;
}

.Gold {
  color: $color-gold !important;
};

.Silver {
  color: $color-silver !important;
};

.Bronze {
  color: $color-bronze !important;
};
