/* Color Scheme */

$color: #FFFFFF;

$green-primary: #009999;
$green-darker: #1D7373;
$green-darkest: #006363;
$green-lighter: #33CCCC;
$green-lightest: #5CCCCC;

$purple-primary: #7109AA;
$purple-darker: #602580;
$purple-darkest: #48036F;
$purple-lighter: #9F3ED5;
$purple-lightest: #AD66D5;

$orange-primary: #FF7400;
$orange-darker: #BF7130;
$orange-darkest: #A64B00;
$orange-lighter: #FF9640;
$orange-lightest: #FFB273;

$color-primary: $green-primary;
$color-darker: $green-darker;
$color-darkest: $green-darkest;
$color-lighter: $green-lighter;
$color-lightest: $green-lightest;


