/* Color Scheme */

$color: #FFFFFF !default;
$color-platinum: #E5E4E2 !default;
$color-gold: #D9A441 !default;
$color-silver: #A8A8A8 !default;
$color-bronze: #965A38 !default;

$green-primary: #009999 !default;
$green-darker: #1D7373 !default;
$green-darkest: #006363 !default;
$green-lighter: #33CCCC !default;
$green-lightest: #5CCCCC !default;

$purple-primary: #7109AA !default;
$purple-darker: #602580 !default;
$purple-darkest: #48036F !default;
$purple-lighter: #9F3ED5 !default;
$purple-lightest: #AD66D5 !default;

$orange-primary: #FF7400 !default;
$orange-darker: #BF7130 !default;
$orange-darkest: #A64B00 !default;
$orange-lighter: #FF9640 !default;
$orange-lightest: #FFB273 !default;

$color-primary: $green-primary !default;
$color-darker: $green-darker !default;
$color-darkest: $green-darkest !default;
$color-lighter: $green-lighter !default;
$color-lightest: $green-lightest !default;
