@import "colors";

.temp {
  color: $theme-red !important;
};

.transparent{
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(238, 238, 238, 0.27);
    color: $theme-text;
};

.transparent:focus{
    border-color: #ffffff;
};

.brand-font {
  font-family: "Neo Sans Bold";
};

.theme-bg-primary {
  background-color: $theme-primary;
  color: white;
};

.theme-bg-primary a {
  color: $theme-light;
}

.theme-bg-alt {
  background-color: white;
  color: $theme-dark !important;
};

.theme-bg-alt a {
  color: $theme-darker;
};

.theme-bg-dark {
  background-color: $theme-darker;
  color: white !important;
};

.theme-bg-dark a {
  color: $theme-light;
};

.theme-bg-light {
  background-color: $theme-light;
  color: white !important;
};

.theme-bg-light h3 {
  color: white !important;
};

.row {
  margin-bottom: 50px;
};

.row:last-child {
  margin-bottom: 0px;
}

// Import component CSS styles
@import "buttons";
@import "forms";
@import "highlighting";
@import "docs";

// Import overrides for specific views
@import "../views/auth";
@import "../views/dashboard";

// Common theme styling
$nav_height: 51px;

html, body {
  height: 100%;
}

.wrap {
  min-height: 100%;
}

.navfix {
  padding-top: $nav_height;
};

.footerfix {
  padding-bottom: 100px;
}

.nofloat {
  float: none !important;
}

.full-width {
  display: block;
}

.container-padding {
  padding-top: 20px;
}

.navbar {
  margin-bottom: 0px;
  .dropdown > a {
    display: inline-block;
    vertical-align: middle;
  };
  .avatar {
    display: inherit;
    vertical-align: middle;
    height: 35px;
    margin-top: -7.5px;
    margin-bottom: -7.5px;
  }
  b {
    margin-left: 5px;
  }
}

.auth {
  width: 100%;
  font-size: 150%;
}

.banner {
  background-color: $color-primary;
  color: $color;
  min-height: 250px;
  .row {
    margin: 20px 0px;
  };
  .row .col-sm-8, .col-sm-4 {
    padding: 0px;
  };
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
  };
  h4, h5, h6 {
    color: $color-lightest;
  };
  img {
    float: right;
    width: 100%;
  };
};

.problem {
  margin-top: 20px;
  i {
    font-size: 50px;
    margin-bottom: 5px;
  };
  p {
    font-size: 125%;
    text-align: justify;
  };
};

.problem:hover {
  i {
    font-size: 55px;
    margin-bottom: 0px;
  };
};

.pricing {
  i {
    color: $color-darkest;
    margin-left: 5px;
  };
  .package {
    display: block;
    h1, h2 {
      margin-top: 0px;
      overflow: hidden;
      white-space: nowrap;
    }
    .panel-heading {
      background-color: $color-primary;
      color: $color;
      border-bottom: none;
    };
    .panel-body {
      background-color: $color-darker;
      color: $color;
      min-height: 130px;
    };
    .feature:first-child {
      font-weight: bold;
    }
    small {
      color: $color-lightest;
    };
  };
}

.sidebar {
  margin-top: 20px;
}

.navbar-static-bottom {
  height: auto;

  .navbar-text {
  margin-left: 0px;
  };
}

.fission-pagination {
  text-align: center;
}

.linked {
  cursor: pointer;
}
