/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * = require window_rails
 * = require sparkle_ui
 * = require sparkle_builder
 * = require d3c3_rails
 * = require_self
 *
 */

/* c3 */
@import "c3";

/* JQuery UI */
@import "jquery-ui";

/* Third-party CSS */
@import "bootstrap";
@import "font-awesome/css/font-awesome";
@import "bootstrap-datetimepicker";

/* Theme CSS */
@import "theme/fission";

.ui-autocomplete {
  z-index: 1050 !important;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
