- accounts.sort_by(&:name).each_slice(4) do |items|
  .row
    - items.each do |item|
      :ruby
        if(item.name == current_user.username)
          image_path = current_user.default_identity.infos.fetch(:image, '/images/no-logo.png')
        else
          image_path = item.metadata.fetch(:avatar_url, '/images/no-logo.png')
        end
      .col-md-3
        .panel.panel-default.account-switcher{'acct-id' => item.id, :id => "acct-#{item.id}"}
          .panel-body
            %img.img-responsive.center-block{:src => image_path}
            %center
              %b= "@#{item.name}"
:javascript
  $(document).ready(
    function(){
      $('.account-switcher').hover(
        function(){
          $(this).find('.panel-body').addClass('bg-warning').css('cursor', 'pointer');
        },
        function(){
          $(this).find('.panel-body').removeClass('bg-warning').css('cursor', 'default');
        }
      ).click(
        function(){
          $(this).find('.panel-body').removeClass('bg-warning').css('cursor', 'default');
          sparkle_ui.display.highlight($(this).attr('id'), 'success');
          redirect_url = '/switch/' + $(this).attr('acct-id');
          setTimeout(
            function(){window.document.location = redirect_url;},
            1000
          );
        }
      );
    }
  );
