%div{class: 'panel panel-danger'}
  %div{class: 'panel-heading'}= 'Unexpected Error'
  %div{class: 'panel-body'}
    An unexpected internal error was encountered. If the problem persists please contact an administrator.
