%div.container.container-padding
  %div.panel.panel-danger
    %div.panel-heading
      Unexpected Error
    %div.panel-body
      An unexpected internal error was encountered. If the problem persists please contact an administrator.
