%div{class: 'panel panel-primary'}
  %div{class: 'panel-heading'}
    %h3{class: 'panel-title'}
      Sidebar
  %div{class: 'panel-body'}
  %table.table
    %tr
      %td
        OHAI
    %tr
      %td
        OBAI
