%div{class: 'panel panel-primary'}
  %div{class: 'panel-heading'}
    %h3{class: 'panel-title'}= "Account: #{current_user.run_state.current_account.name}"
  %div{class: 'panel-body'}
  %table.table
    %tr
      %td
        OHAI
    %tr
      %td
        OBAI
