// A row of featurettes or product highlights
// Requires an array of hashes containing {url: "", icon: "", title: "", content: ""}
- if @content[:features]
  - @width = 12 / @content[:features].length
  - @col = 'col-sm-' + @width.to_s
  %div.features
    %div.container
      %div.row
        - @content[:features].each do |feature|
          %div.feature{ class: @col }
            %div.icon
              %a.animate{ href: feature[:url] }
                %i.fa.fa-5x{ class: feature[:icon] }
            %h3= feature[:title]
            %p= feature[:content]
