- table_class    ||= ''
- header_classes ||= (1..header_data.count).map{ '' }

%table.table.table-hover{ :class => table_class }
  %thead
    %tr
      - header_data.each_with_index do |header, i|
        %th{ :class => header_classes[i] }
          = header
  %tbody
    - if defined?(table_content_name)
      = content_for(table_content_name)
    - else
      - data.each do |values|
        %tr
          - values.each do |value|
            %td= value
