- table_class ||= ''

%table.table.table-hover{ :class => table_class }
  %thead
    %tr
      - header_data.each do |header|
        %th= header
  %tbody
    - data.each do |values|
      %tr
        - values.each do |value|
          %td= value

