= render :partial => 'accounts/account_list', :locals => {:accounts => [@account], :title => 'Main Account', :pagination => nil}
= render :partial => 'accounts/account_list', :locals => {:accounts => @manager_accounts, :pagination => :manager_accounts_pagination, :title => 'Managed Accounts'}
= render :partial => 'accounts/account_list', :locals => {:accounts => @member_accounts, :pagination => :member_accounts_pagination, :title => 'Member Accounts'}
